<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.BillMapper">

    <select id="billByName" resultType="bill">
        SELECT * FROM smbms_bill
        WHERE
        <if test="productName!=null and productName!=''">
            productName LIKE CONCAT('%',#{productName},'%')
        </if>
        <if test="providerId!=null">
            AND
            providerId=#{providerId}
        </if>
        <if test="isPayment!=null">
            AND
            isPayment=#{isPayment}
        </if>
    </select>

    <resultMap id="billShow" type="Bill">
        <id property="id" column="id"></id>
        <result property="billCode" column="billCode"></result>
        <result property="productName" column="productName"></result>
        <result property="totalPrice" column="totalPrice"></result>
        <result property="isPayment" column="isPayment"></result>
        <association javaType="Provider" property="provider">
            <id property="id" column="id"></id>
            <result property="proCode" column="proCode"></result>
            <result property="proName" column="proName"></result>
            <result property="proContact" column="proContact"></result>
            <result property="proPhone" column="proPhone"></result>
        </association>
    </resultMap>

    <select id="billByNaIdIsPayment" resultMap="billShow">
        SELECT b.billCode,b.productName,p.proCode,p.proName,p.proContact,p.proPhone,b.totalPrice,b.isPayment FROM smbms_bill b,smbms_provider p
            WHERE
	            b.providerId = p.id
            AND
	            b.productName LIKE CONCAT('%',#{productName},'%')
            AND
	            p.id IN (SELECT `providerId` FROM smbms_bill WHERE providerId=#{providerId})
            AND
	            b.isPayment=#{isPayment}
    </select>

    <select id="billByCodeAndProId" resultType="Bill">
        SELECT b.* FROM smbms_bill b
        INNER JOIN smbms_provider p ON p.id = b.providerId
        WHERE b.billCode LIKE CONCAT('%',#{billCode},'%')
        AND
            p.id
        IN
            <foreach collection="rKey" item="proList" open="(" separator="," close=")">
                #{proList}
            </foreach>
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(1) FROM smbms_bill
    </select>

    <select id="billLimit" resultType="Bill">
        SELECT * FROM smbms_bill ORDER BY creationDate DESC LIMIT #{currentPageNo},#{pageSize}
    </select>
</mapper>